.apartment-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    padding-inline: 8rem;
    font-family: 'Montserrat', sans-serif;
    color:#ff6060 ;
   
}

.collapse-description-global{
    justify-content: center;
    display: flex;
    gap: 150px;
}

@media screen and (width <= 769px ){

    .navbar{
        padding-inline: 1rem;
    }
    .apartment-card{
        padding-inline: 1rem;
        margin-top: 1rem;
        flex-wrap: nowrap;
    }

    
}


