.apartment-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    padding-inline: 8rem;
    font-family: 'Montserrat', sans-serif;
    color:#ff6060 ;
   
}

.wrapper-description-global{
    justify-content: center;
    flex-basis: 50%;
    display: flex;
    gap: 30px;
}


