.home{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    
}
@media screen and (width <= 769px ){
    .home{
        padding-inline: 1rem;
    }
}
