.cards{
    display:flex ;
    flex-direction: column;
    
    background-image: linear-gradient(to top, #ff6060, #3f3d3d );
    height: 400px;
    width: 400px;
    border-radius: 10px;
    padding-bottom: 0px;
    min-width: 200px;
    min-height: 200px;
}



.cards img{
    display:flex;
    height: 80%;
    display: flex;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}


.global-title {
    display: flex;
    flex-direction: raw;
    align-content: flex-end;
    align-items: center;
    text-decoration: none;
  height: 20%;
  color: white;
  
}


.title_card{
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    width: 60%;
    padding-inline: 20px;
}


a{
    text-decoration: none;
}


@media screen and (width <= 769px ){
    .cards {
        
        height: 255px;
    
        width: auto;

    }

    .title_card{
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
    }

    
}