.global-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
   width: 40%;
    font-family: 'Montserrat', sans-serif;
    color:#ff6060 ;
}

.wrapper-description{
    display: flex;
    flex-direction: column;

}


.global-wrapper p{
        display: flex;
        flex-direction: column;
        background: #F7F7F7;
        border-radius: 10px;
        margin: 0;
        height: 250px;
        font-size: 18px;
        line-height: 26px;
        padding: 50px 25px;
        position: relative;
        top: -10px;
        z-index: -1;
    }

 .descritpion-title_chevron,
 .descritpion-equipment_chevron{
    display: flex;
    align-items: center;
    justify-content: space-between;    
    padding: 10px;
    padding-right: 30px;
    background-color: #ff6060;
    color:  #FFFFFF;
    height: 20px;
    border-radius: 10px;
 }  

 .global-wrapper h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em; 
    padding-left: 15px;
 }

.global-wrapper i{
    cursor: pointer;
    font-size: 20px;
}

.description_content{
    display: flex;
    width: auto;
  
}