.banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 50px;
    padding-inline: 8rem;
    font-family: 'Montserrat', sans-serif;

}

.banner img{
   display: flex;
   justify-content: center;
   object-fit: cover;
   height: 243px;
   width: 100%;
   border-radius: 25px;
   filter: brightness(0.75);
}

.banner h1{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    font-weight: 500;
    font-size: 48px;
    color: white;
}

@media screen and (max-width: 980px){
    .banner h1{
        font-size: 30px;
    }
}

@media screen and (max-width: 760px){
    .banner h1{
        font-size: 20px;
    }
}